## See: http://velocity.apache.org/engine/2.0/vtl-reference.html

<html>
<body style="color: red">
<ul>
    #foreach($person in $people)
    <li>Hello $person.Name!</li>
    #end
</ul>
</body>
</html>